<!DOCTYPE html>
<html>

<head>
    <title>
        Pay Example
    </title>

    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/assets/css/vend-peg.css">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="/assets/js/pay.js"></script>
    <script src="https://vsdc.staging.vms.frcs.org.fj/onlinepos/v1/taxcore.min.js"></script>

</head>
<body>

<textarea id="invoiceRequest" cols="10" rows="10" style="display:block"></textarea>
    <textarea readonly id="results" cols="10" rows="10"></textarea>
    <div class="container center">
        <div id="statusMessage"></div>

        <div id="outcomes">
            <div class="center-text">
                <button class="vd-btn vd-btn--do" onclick="sendPayment('accept');">
                    Accept
                </button>
                <button class="vd-btn vd-btn--no" onclick="sendPayment('decline');">
                    Decline
                </button>
                <button class="vd-btn vd-btn--no" onclick="sendPayment('timeout');">
                    Timeout
                </button>

                <button id="taxcore_sign_element"
                        data-taxcore-vsdc-url="https://vsdc.staging.vms.frcs.org.fj/"
                        data-taxcore-input-id="invoiceRequest"
                        data-taxcore-output-id="results"
                        data-taxcore-invoice-request=""
                        data-taxcore-debug="true"
                        data-taxcore-signed-invoice-response="">
                    Sign Invoice
                </button>


                <button class="vd-btn vd-btn--supplementary" onclick="sendPayment('');">
                    SignInvoiceTest
                </button>
                <button class="vd-btn vd-btn--supplementary" onclick="cancelPayment();">
                    Cancel
                </button>
                <p><a href="javascript:void(0)" class="vd-link" onclick="seeForm();">See how to add form elements</a></p>
            </div>
            <!-- Custom script at Online POS -->
            <script src="https://vsdc.staging.vms.frcs.org.fj/onlinepos/v1/taxcore.min.js"></script>
            <script>

                function CreateExampleInvoiceRequest() {
                    var invoiceRequest = {
                        "DateAndTimeOfIssue": "2019-06-29T05:14:10.286Z",
                        "Cashier": "Marie",
                        "BD": 8902798054,
                        "IT": "Normal",
                        "TT": "Sale",
                        "PaymentType": "Cash",
                        "InvoiceNumber": "F58BZUBG-T5UX48AJ-a1",
                        "PAC": "YQS4AR",
                        "Options": {
                            "OmitTextualRepresentation": 0,
                            "OmitQRCodeGen": 0
                        },
                        "Items": [
                            {
                                "Name": "Moon Mug",
                                "Quantity": 1,
                                "Labels": [
                                    "A"
                                ],
                                "TotalAmount": 25.90
                            }
                        ]
                    };
                    return invoiceRequest;
                }
                //console.log(JSON.stringify(CreateExampleInvoiceRequest(), undefined, 4));
                document.getElementById("invoiceRequest").innerHTML = JSON.stringify(CreateExampleInvoiceRequest(), undefined, 4);

                document.getElementById("taxcore_sign_element").dataset.taxcoreInvoiceRequest = JSON.stringify(CreateExampleInvoiceRequest());

                // Listen to messages from TaxCore
                window.onmessage = function (e) {
                    var data = JSON.parse(e.data)
                    if (data["status_code"] == 200) {
                        console.log(data["response"]["Journal"]);
                    }
                    printStep(data["response"]["Journal"]);
                }


            /**/</script>

        </div>
    </div>
</body>

</html>